<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCf10irIF3-Mlz3I1VHQa3GaAryo6Ev_A</string>
	<key>GCM_SENDER_ID</key>
	<string>1011356557145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dimashDiploma</string>
	<key>PROJECT_ID</key>
	<string>dimash-diploma</string>
	<key>STORAGE_BUCKET</key>
	<string>dimash-diploma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011356557145:ios:64388ad3b867a9e4207648</string>
</dict>
</plist>